
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>
<div class="row">
        <label class="col-md-3">Upload an Excel</label>
        <div class="col-md-9">
            <input type="file" id="fuExcel" />
        </div>
        <div class="col-md-3">
            <button id="btn" class="btn btn-sucess">Upload</button>
        </div>
    </div>

 <script>
$(document).ready(function() {
    $("#btnUpload").click(function(){
        var formData = new FormData();
        var fuUpladFile = document.getElementById("fuExcel");
        var myFile = fuUpladFile.files[0];
        formData.append("myExcelData", myFile);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveRegistration", "Registration")',
            contentType: false,
            processData: false,
            data: formData,
            sucess: function(data) {
                alert(data.message);
            }
        })
    })
})
 </script>

