@model WebConsumoApi.Models.ProductInsert

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductInsert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
            <div class="form-group">
                <label asp-for="sku" class="control-label"></label>
                <input asp-for="sku" class="form-control" />
                <span asp-validation-for="qty" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                <input asp-for="active" class="form-control" />
                <span asp-validation-for="qty" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="qty" class="control-label"></label>
                <input asp-for="qty" class="form-control" />
                <span asp-validation-for="qty" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
